<!DOCTYPE html>
<html>

<head>
    <title>动漫_《我推的孩子》_第01集在线观看_首播影院</title>
    <meta name="keywords" content="动漫我推的孩子,我推的孩子第01集,我推的孩子在线观看,首播影院" />
    <meta name="description" content="我推的孩子剧情介绍：漫画《#我推的孩子#》官宣动画化决定！将由#动画工房#进行制作！" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/template/mb13/statics/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/template/mb13/statics/font/iconfont.css" type="text/css" />
    <link rel="stylesheet" href="/template/mb13/statics/css/stui_block.css" type="text/css" />
    <link rel="stylesheet" href="/template/mb13/statics/css/stui_block_color.css" type="text/css" />
    <link rel="stylesheet" href="/template/mb13/statics/css/stui_default.css" type="text/css" />
    <script type="text/javascript" src="/template/mb13/statics/js/jquery.min.js"></script>
    <script type="text/javascript" src="/template/mb13/statics/js/stui_default.js"></script>
    <script type="text/javascript" src="/template/mb13/statics/js/stui_block.js"></script>
    <script type="text/javascript" src="/template/mb13/statics/js/home.js"></script>
    <script>var maccms = { "path": "", "mid": "1", "url": "www.intemek.com", "wapurl": "www.intemek.com", "mob_status": "1" };</script>
    <script type="text/javascript" src="/template/mb13/statics/js/history.js"></script>
    <script type="text/javascript">var vod_name = '我推的孩子', vod_url = window.location.href, vod_part = '第01集';</script>
</head>

<body>
    <header class="stui-header__top clearfix" id="header-top">
        <div class="container">
            <div class="row">
                <div class="stui-header_bd clearfix">
                    <div class="stui-header__logo"><a class="logo" href="/"></a></div>
                    <div class="stui-header__side">
                        <ul class="stui-header__user">
                            <li><a class="mac_user" href="javascript:;"><i class="icon iconfont icon-account"></i></a>
                            </li>
                        </ul>
                        <script type="text/javascript" src="/template/mb13/statics/js/jquery.autocomplete.js"></script>
                        <div class="stui-header__search">
                            <form id="search" name="search" method="get" action="/vodsearch/-------------.html"
                                onSubmit="return qrsearch();"><input type="text" id="wd" name="wd"
                                    class="mac_wd form-control" value="" placeholder="请输入关键词..." /><button
                                    class="submit" id="searchbutton" type="submit" name="submit"><i
                                        class="icon iconfont icon-search"></i></button></form>
                        </div>
                    </div>
                    <ul class="stui-header__menu type-slide">
                        <li><a href="/">首页</a></li>
                        <li><a href="/vodtype/dianying.html">电影</a></li>
                        <li><a href="/vodtype/lianxuju.html">连续剧</a></li>
                        <li><a href="/vodtype/zongyi.html">综艺</a></li>
                        <li><a href="/vodtype/dongman.html">动漫</a></li>
                        <li><a href="/vodtype/donghuapian.html">动画片</a></li>
                        <li><a href="/vodtype/shaoshidianying.html">邵氏电影</a></li>
                        <li><a href="/vodtype/dianyingjieshuo.html">电影解说</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <script
        type="text/javascript">
        $(".stui-header__user li,.stui-header__menu li").click(
            function () { 
                $(this).find(".dropdown").toggle(); 
                if (stui.browser.useragent.mobile) { 
                    $(".MacPlayer").toggle(); }
                 }); 
                    if (stui.browser.useragent.mobile) { 
                        $(".stui-header__logo .logo").css("background", "url(/upload/site/20230111-1/6cf22f6c66c7009f761d6f8b37a83611.png) no-repeat");
                     } else { $(".stui-header__logo .logo").css("background", "url(/upload/site/20230111-1/6cf22f6c66c7009f761d6f8b37a83611.png) no-repeat"); }</script>
    <div class="container">
        <div class="row">
            <div class="col-lg-wide-75 col-xs-1 padding-0">
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel-bd">
                            <div class="stui-player col-pd">
                                <div class="stui-player__video clearfix">
                                    <script
                                        type="text/javascript">
                                        var player_aaaa = { 
                                            "flag": "play", 
                                            "encrypt": 0, 
                                            "trysee": 0, 
                                            "points": 0, 
                                            "link": "\/vodplay\/wotuidehaizi-1-1.html", 
                                            "link_next": "\/vodplay\/wotuidehaizi-1-2.html", 
                                            "link_pre": "", 
                                            "vod_data": { 
                                                "vod_name": "\u6211\u63a8\u7684\u5b69\u5b50",
                                                "vod_actor": "\u9ad8\u6865\u674e\u4f9d", 
                                                "vod_director": "\u5e73\u7267\u5927\u8f85", 
                                                "vod_class": "\u52a8\u753b,\u65e5\u97e9\u52a8\u6f2b" }, 
                                                "url": "https:\/\/hot.qoqkkhy.com\/20230412\/bzv4FeJk\/index.m3u8", 
                                                "url_next": "https:\/\/hot.qoqkkhy.com\/20230419\/QWbJdc6c\/index.m3u8", 
                                                "from": "wjm3u8", "server": "no", "note": "", "id": "wotuidehaizi", "sid": 1, "nid": 1 }
                                                </script>
                                    <script type="text/javascript" src="/static/js/playerconfig.js?t=20230704"></script>
                                    <script type="text/javascript" src="/static/js/player.js?t=a20230704"></script>
                                </div>
                                <div class="stui-player__detail detail">
                                    <ul class="more-btn">
                                        <li><a href="javascript:void(0);" class="mac_ulog btn btn-default" data-type="2"
                                                data-mid="1" data-id="67789">收藏<i
                                                    class="icon iconfont icon-favorite hidden-xs"></i></a></li>
                                        <li><a href="javascript:;" class="btn btn-default"
                                                onclick="MAC.Gbook.Report('编号【67789】名称【我推的孩子】不能观看请检查修复，页面地址' + location.href)">报错<i
                                                    class="icon iconfont icon-close hidden-xs"></i></a></li>
                                        <li><a class="btn btn-default copylink" href="javascript:;">分享<i
                                                    class="icon iconfont icon-share hidden-xs"></i></a></li>
                                        <li><a class="btn btn-default" href=""><i
                                                    class="icon iconfont icon-back hidden-xs"></i>上一集</a></li>
                                        <li><a class="btn btn-default" href="/vodplay/wotuidehaizi-1-2.html">下一集<i
                                                    class="icon iconfont icon-more hidden-xs"></i></a></li>
                                    </ul>
                                    <h1 class="title">我推的孩子</h1>
                                    <p class="data margin-0"><span class="text-muted">类型：</span>动画,日韩动漫<span
                                            class="split-line"></span><span class="text-muted">地区：</span>日本<span
                                            class="split-line"></span><span class="text-muted">年份：</span>2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visible-xs" style=" padding:0 20px 10px;"><a
                        class="open-share btn btn-block btn-lg btn-primary" href="javascript:;"><i
                            class="icon iconfont icon-share"></i>分享给朋友观看</a></div>
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box b playlist mb">
                        <div class="stui-pannel_hd">
                            <div class="stui-pannel__head bottom-line active clearfix"><span
                                    class="nore text-muted pull-right"></span>
                                <h3 class="title">策驰资源</h3>
                            </div>
                        </div>
                        <div class="stui-pannel_bd col-pd clearfix">
                            <ul class="stui-content__playlist clearfix">
                                <li class="active"><a href="/vodplay/wotuidehaizi-1-1.html">第01集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-2.html">第02集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-3.html">第03集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-4.html">第04集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-5.html">第05集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-6.html">第06集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-7.html">第07集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-8.html">第08集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-9.html">第09集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-10.html">第10集</a></li>
                                <li><a href="/vodplay/wotuidehaizi-1-11.html">第11集</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
                            <div class="stui-pannel__head clearfix">
                                <h3 class="title"><img src="/template/mb13/statics/icon/icon_30.png" />剧情介绍</h3>
                            </div>
                        </div>
                        <div class="stui-pannel_bd">
                            <div class="detail col-pd"><span
                                    class="detail-sketch">漫画《#我推的孩子#》官宣动画化决定！将由#动画工房#进行制作！</span><span
                                    class="detail-content"
                                    style="display: none;">漫画《#我推的孩子#》官宣动画化决定！将由#动画工房#进行制作！</span><a class="detail-more"
                                    href="javascript:;">详情<i class="icon iconfont icon-moreunfold"></i></a></div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript" src="/js/hengfu.js"></script>
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
                            <div class="stui-pannel__head clearfix">
                                <h3 class="title"><img src="/template/mb13/statics/icon/icon_6.png" />猜你喜欢</h3>
                            </div>
                        </div>
                        <div class="stui-pannel_bd">
                            <ul class="stui-vodlist__bd clearfix">
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/binghuomochu.html" title="冰火魔厨"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230325-1/c908b0248cdb8ba20417aedbfffe045b.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至89集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a href="/voddetail/binghuomochu.html"
                                                    title="冰火魔厨">冰火魔厨</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">内详</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/manhuaimeimengdeshaonianshixianshizhuyizhe.html"
                                            title="满怀美梦的少年是现实主义者"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230704-1/934df04fff6f38363d3388edf8539625.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至01集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a
                                                    href="/voddetail/manhuaimeimengdeshaonianshixianshizhuyizhe.html"
                                                    title="满怀美梦的少年是现实主义者">满怀美梦的少年是现实主义者</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">
                                                宫濑尚也,凉本秋穗,花守由美里,小松未可子,石原夏织</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/wunaomonv.html" title="无脑魔女"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230704-1/c044da816ef2ca8fdf3b3c67856032c1.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至02集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a href="/voddetail/wunaomonv.html"
                                                    title="无脑魔女">无脑魔女</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">
                                                小连杀,齐璇,李哎,李姗姗,李白,幽舞越山,张远韬,张恩泽</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/wuxingzhanshen.html" title="五行战神"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230704-1/dc15d7a6e14a611a46171830398b6eab.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至07集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a href="/voddetail/wuxingzhanshen.html"
                                                    title="五行战神">五行战神</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">
                                                魏一凡,王薇,张萌,唐子晰,舒雷,李嘉祥,赵双,杨塑坤,万纯,张恩泽</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/wuzhizhuanshengdaoliaoyishijiejiunachuzhenbenshi.html"
                                            title="无职转生Ⅱ～到了异世界就拿出真本事～"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230703-1/b84f4d0b6cd60932fe048b2053806e9b.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至特別篇</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a
                                                    href="/voddetail/wuzhizhuanshengdaoliaoyishijiejiunachuzhenbenshi.html"
                                                    title="无职转生Ⅱ～到了异世界就拿出真本事～">无职转生Ⅱ～到了异世界就拿出真本事～</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">
                                                内山夕实,杉田智和,白石晴香,小林优,羽多野涉,泽城千春,山本格,鸟海浩辅,上田丽奈,兴津和幸,茅野爱衣</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/nvshenyoudianling.html" title="女神有点灵"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230424-1/046f2f27d30ecace86bc7e02a399ef6f.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至12集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a href="/voddetail/nvshenyoudianling.html"
                                                    title="女神有点灵">女神有点灵</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">
                                                魏一凡,王薇,傅晨阳,阎么么,李嘉祥,蔡娜,赵欣,万纯,余昌宇</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/nitianzhanji.html" title="逆天战纪"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230403-1/1899d17fa2bba8085ef01707c842c4ff.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至15集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a href="/voddetail/nitianzhanji.html"
                                                    title="逆天战纪">逆天战纪</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">秦浩南,王兵兵,唐玉,李晓佳,张英</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/zhengzongjundefuchouR.html" title="政宗君的复仇R"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230704-1/90ce2dd49ac2c10ef8a4956ae0245e33.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至01集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a
                                                    href="/voddetail/zhengzongjundefuchouR.html"
                                                    title="政宗君的复仇R">政宗君的复仇R</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">
                                                花江夏树,大桥彩香,水濑祈,三森铃子,田所梓,早见沙织,斋贺光希,小仓唯,大龟明日香,伊藤美来,加濑康之</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/LV1mowangyudujufeiyongzhe.html" title="LV1魔王与独居废勇者"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230704-1/a5b51f089f150a2fb19262d63e62c9c8.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至01集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a
                                                    href="/voddetail/LV1mowangyudujufeiyongzhe.html"
                                                    title="LV1魔王与独居废勇者">LV1魔王与独居废勇者</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">
                                                中村悠一,大空直美,日笠阳子,松冈祯丞,下野纮,小清水亚美</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/tiandianzhuanshengzuiqiangtiandianshijianglinyishijie.html"
                                            title="甜点转生最强甜点师降临异世界"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230704-1/57be2017e424b079e3ab7e7cd6f88953.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至02集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a
                                                    href="/voddetail/tiandianzhuanshengzuiqiangtiandianshijianglinyishijie.html"
                                                    title="甜点转生最强甜点师降临异世界">甜点转生最强甜点师降临异世界</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">
                                                村濑步,藤原夏海,内田真礼,本渡枫,土田大,大久保瑠美,若林佑,奥野香耶,加藤涉,生天目仁美,日笠阳子</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3 hidden-lg hidden-md">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/duoxuanshi.html" title="堕玄师"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230704-1/9937fc85c8e7940c6c76981d89a68b3b.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至02集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a href="/voddetail/duoxuanshi.html"
                                                    title="堕玄师">堕玄师</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">内详</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-5 col-sm-4 col-xs-3 hidden-lg hidden-md">
                                    <div class="stui-vodlist__box"><a class="stui-vodlist__thumb lazyload"
                                            href="/voddetail/jiangu.html" title="剑骨"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230620-1/577c26d825840bd7fb7faa00bd4f2dca.jpg"><span
                                                class="play hidden-xs"></span><span
                                                class="pic-text text-right">更新至09集</span></a>
                                        <div class="stui-vodlist__detail">
                                            <h4 class="title text-overflow"><a href="/voddetail/jiangu.html"
                                                    title="剑骨">剑骨</a></h4>
                                            <p class="text text-overflow text-muted hidden-xs">
                                                张英,唐钰,宁冀荣,许子尧,荣子,孙露,婆拓童,王心语,厉达,炙措,唐泽宗</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-wide-25 col-xs-1 stui-pannel-side visible-lg">
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
                            <div class="text-center">
                                <p class="text-muted">扫码用手机观看</p>
                                <p id="qrcode2" style="padding-left: 35px;"></p>
                                <p class="text-muted margin-0">分享到朋友圈</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
                            <div class="stui-pannel__head clearfix">
                                <h3 class="title"><img src="/template/mb13/statics/icon/icon_12.png" /><a
                                        href="/vodsearch/----%E5%8A%A8%E7%94%BB---------.html"
                                        target="_blank">动画</a>&nbsp;<a
                                        href="/vodsearch/----%E6%97%A5%E9%9F%A9%E5%8A%A8%E6%BC%AB---------.html"
                                        target="_blank">日韩动漫</a>&nbsp;热播榜</h3>
                            </div>
                        </div>
                        <div class="stui-pannel_bd">
                            <ul class="stui-vodlist__media active col-pd clearfix">
                                <li>
                                    <div class="thumb"><a class="m-thumb stui-vodlist__thumb lazyload"
                                            href="/voddetail/wotuidehaizi.html" title="我推的孩子"
                                            data-original="https://imgdm.invida.net.cn/upload/vod/20230413-1/7d8654fd3e9de816bd7f6d5e54f6001b.jpg"></a>
                                    </div>
                                    <div class="detail detail-side">
                                        <h4 class="title"><a href="/voddetail/wotuidehaizi.html"><i
                                                    class="icon iconfont icon-more text-muted pull-right"></i>我推的孩子</a>
                                        </h4>
                                        <p class="font-12"><span class="text-muted">类型：</span>动画,日韩动漫，<span
                                                class="text-muted">地区：</span>日本</p>
                                        <p class="font-12 margin-0"><span class="text-muted">主演：</span>高桥李依</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="stui-vodlist__rank col-pd clearfix">
                                <li><a href="/voddetail/tunshixingkong.html" title="吞噬星空"><span
                                            class="text-muted pull-right hidden-md">更新至85集</span><span
                                            class="badge badge-first">1</span>吞噬星空</a></li>
                                <li><a href="/voddetail/xiangliancangshixianshangchunjie.html" title="向涟苍士献上纯洁"><span
                                            class="text-muted pull-right hidden-md">更新至08集</span><span
                                            class="badge badge-second">2</span>向涟苍士献上纯洁</a></li>
                                <li><a href="/voddetail/shixiongashixiong.html" title="师兄啊师兄"><span
                                            class="text-muted pull-right hidden-md">完结</span><span
                                            class="badge badge-third">3</span>师兄啊师兄</a></li>
                                <li><a href="/voddetail/wulimofashimaxiu.html" title="物理魔法使马修"><span
                                            class="text-muted pull-right hidden-md">完结</span><span
                                            class="badge">4</span>物理魔法使马修</a></li>
                                <li><a href="/voddetail/douluodalu.html" title="斗罗大陆"><span
                                            class="text-muted pull-right hidden-md">完结</span><span
                                            class="badge">5</span>斗罗大陆</a></li>
                                <li><a href="/voddetail/huajianghuzhibuliangren6.html" title="画江湖之不良人6"><span
                                            class="text-muted pull-right hidden-md">更新至12集</span><span
                                            class="badge">6</span>画江湖之不良人6</a></li>
                                <li><a href="/voddetail/wanmeishijie.html" title="完美世界"><span
                                            class="text-muted pull-right hidden-md">更新至117集</span><span
                                            class="badge">7</span>完美世界</a></li>
                                <li><a href="/voddetail/maozhimingdierji.html" title="猫之茗第二季"><span
                                            class="text-muted pull-right hidden-md">更新至11集</span><span
                                            class="badge">8</span>猫之茗第二季</a></li>
                                <li><a href="/voddetail/shengerweigouwohenxingfu.html" title="生而为狗我很幸福"><span
                                            class="text-muted pull-right hidden-md">完结+特別篇</span><span
                                            class="badge">9</span>生而为狗我很幸福</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="stui-pannel stui-pannel-bg clearfix">
                    <div class="stui-pannel-box">
                        <div class="stui-pannel_hd">
                            <div class="stui-pannel__head clearfix"><a class="more text-muted pull-right"
                                    href="/topic.html">更多<i class="icon iconfont icon-more"></i></a>
                                <h3 class="title"><img src="/template/mb13/statics/icon/icon_5.png" />推荐专题</h3>
                            </div>
                        </div>
                        <div class="stui-pannel_bd">
                            <ul class="stui-vodlist clearfix"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
        type="text/javascript">
        if (playerhigh == 1) { 
            $(".MacPlayer").addClass("embed-responsive embed-responsive-16by9").css({ "padding-bottom": "56.25%", "z-index": "99" });
            $("#playleft,.dplayer-video-wrap").css({ "position": "inherit", "overflow": "initial" }); 
        } 
        var PlayerHeight = $(".MacPlayer").outerHeight(); 
        $(".stui-player__video").css("height", PlayerHeight); 
        var playli = $(".stui-content__playlist:first li").length; 
        if (playcolumn > 1) 
        { if (playli > 5) 
            { $(".stui-content__playlist").addClass("column" + playcolumn); 
        } }
         if (playli > 30) { $(".stui-content__playlist").css({ "max-height": " 300px", "overflow-y": "scroll" }); } </script>
    <span class="mac_hits hits hide" data-mid="1" data-id="67789" data-type="hits"></span><span
        class="mac_ulog_set hide" data-type="4" data-mid="1" data-id="67789" data-sid="1" data-nd="1"></span>
    <div class="container">
        <div class="row">
            <div class="stui-foot clearfix">
                <div class="col-pd text-center hidden-xs">Copyright by @<span class="fontArial"></span> 2009-2023
                    www.intemek.com Inc. All Rights Reserved. <a href="/" target="_blank">[首播影院]</a><br>联系邮箱：<a
                        href="/cdn-cgi/l/email-protection#eb90868a88888698d18e868a828796"><span class="__cf_email__"
                            data-cfemail="f6859384809384b69f9882939b939dd895999b">[email&#160;protected]</span></a></br>首播影院是一个各类影视作品首播的网站，并为你收纳海量的其它影视作品，是你最新电影最好的网站。爱看电影就来首播电影院。
                </div>
            </div>
        </div>
    </div>
    <ul class="stui-extra clearfix">
        <li><a class="backtop" href="javascript:scroll(0,0)" style="display: none;"><i
                    class="icon iconfont icon-less"></i></a></li>
        <li class="hidden-xs"><a class="copylink" href="javascript:;"><i class="icon iconfont icon-share"></i></a></li>
        <li class="visible-xs"><a class="open-share" href="javascript:;"><i class="icon iconfont icon-share"></i></a>
        </li>
        <li class="hidden-xs"><span><i class="icon iconfont icon-qrcode"></i></span>
            <div class="sideslip">
                <div class="col-pd text-center">
                    <p id="qrcode"></p>
                    <p class="margin-0">扫码用手机访问</p>
                </div>
            </div>
        </li>
        <li><a href="/gbook.html"><i class="icon iconfont icon-comments"></i></a></li>
    </ul>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>(function () { var bp = document.createElement('script'); var curProtocol = window.location.protocol.split(':')[0]; if (curProtocol === 'https') { bp.src = 'https://zz.bdstatic.com/linksubmit/push.js'; } else { bp.src = 'https://push.zhanzhang.baidu.com/push.js'; } var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(bp, s); })();</script>
    <script>var _hmt = _hmt || []; (function () { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?13fb2f04ce53e485735dc1a35e2fa6bf"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })();</script>
    <script>var _hmt = _hmt || []; (function () { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?75db047b36bc09d14999b2926031b1dd"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })();</script>
    <script type="text/javascript" src="/js/top.js"></script>
</body>

</html>